---
layout: page
title: Contact
permalink: /contact/
---
{% comment %}
title: string
text_prefix: string?
username: string
external_url: url?
{% endcomment %}

Want to hit me up about something? Feel free to do so!
<p>You can contact me on:</p>
<ul>
    {% for social in site.data.socials %}
        {% if social.external_url != nil and social.external_url != "" %}
            <li><b>{{ social.title }}:</b> <a href="{{ social.external_url }}{{ social.username }}">{{ social.text_prefix }}{{ social.username }}</a></li>
        {% else %}
            <li><b>{{ social.title }}:</b> {{ social.text_prefix }}{{ social.username }}</li>
        {% endif %}
    {% endfor %}
</ul>