<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">I am a software engineer and aspiring graphic designer. While my main passion lies within programming, I can also deliver bold and visually striking visuals. Let's build something amazing together!</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact Me</a>
            </div>
        </div>
    </div>
</section>
